:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  align-items: center;
  flex-direction: column;

  text-align: center;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 12px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  line-height: 1em;

  min-width: 55px;
}

button:hover {
  filter: opacity(0.8);
}

.controls {
  display: flex;
  gap: 1rem;
}

.controls input {
  width: 100%;
  accent-color: darkred;
}

#status {
  font-weight: normal;
  color: darkorange;
}

#stop-icon {
  display: none;
}

.active #stop-icon {
  display: inline-block;
}

.active #start-icon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    color: #f9f9f9;
  }
}
